VITE_SUPABASE_URL = https://wicdvohhcwmhwlfahofy.supabase.co
VITE_SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpY2R2b2hoY3dtaHdsZmFob2Z5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY5ODU2NTYsImV4cCI6MjA3MjU2MTY1Nn0.oWDDpNgWzxUmWA4kmksqGInhWkqzoJv_BO1cjLreP5A
